# Local full EEG dataset
data/
*.edf

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Training outputs
results/*.pt
results/*.pth
results/*.ckpt

# Keep result summaries and figures if you want to show them in GitHub
!results/*.json
!results/*.csv
!results/figures/
!results/figures/*.png